div {
    display: inline-block;
    border: none;
    color: gray;
    width: 280px;
    height: 40px;
    padding: 8px 4px;
    margin: 8px 4px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
    border-top: 1px dotted gray;
}

button {
    position: relative; 
    border: 2px solid gray;
    border-radius: 6px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    padding: 4px 12px;
    margin: 6px 0;
    text-align: center;
    color: white;
    background-color: gray;
    cursor: pointer;
}

button:hover {
    color: yellow;
}
