div {
    display: block;
    margin: 0 auto;
    border: 1px solid crimson;
    color: crimson;
    width: 400px;
    height: 150px;
    padding: 4px 4px 10px 10px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
}

p {
    margin: 0 0 16px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px dotted crimson;
}

button {
    position: relative; 
    float: center;
    border: 1px solid crimson;
    border-radius: 4px;
    padding: 1px 3px;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    color: white;
    background-color: crimson;
    cursor: pointer;
}

button:hover {
    color: yellow;
}


button.login {
    border: none;
    margin: 0 10px 10px 24px;
    padding: 4px 12px;
    border: 1px solid forestgreen;
    background-color: forestgreen;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}

button.cancel {
    border: none;
    margin: 0 10px 10px 0px;
    padding: 4px 12px;
    border: 1px solid crimson;
    background-color: crimson;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}